<div class="login-wrapper">
  <!-- Coluna da Esquerda: Mensagem de Boas-vindas -->
  <div class="branding-section">
    <div class="branding-content">
      <mat-icon class="brand-icon">sign_language</mat-icon>
      <h1>Bem-vindo(a) de Volta!</h1>
      <p>Continue sua jornada de aprendizado e conecte-se com a comunidade da Língua Brasileira de Sinais.</p>
    </div>
  </div>

  <!-- Coluna da Direita: Formulário de Login -->
  <div class="form-section">
    <div class="form-container">
      <h2>Acesse sua Conta</h2>
      <p class="subtitle">Insira suas credenciais para continuar.</p>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <mat-label>Nome de Usuário</mat-label>
          <input matInput formControlName="username" type="text" required autocomplete="username">
          <mat-error *ngIf="loginForm.get('username')?.hasError('required')">
            O nome de usuário é obrigatório.
          </mat-error>
          <mat-error *ngIf="loginForm.get('username')?.hasError('username')">
            Por favor, insira um nome de usuário válido.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Senha</mat-label>
          <input matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'" required autocomplete="current-password">
          <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" type="button" aria-label="Mostrar/Esconder senha">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
           <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
            A senha é obrigatória.
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
          ENTRAR
        </button>
      </form>

      <div class="actions">
        <span>Ainda não tem uma conta?</span>
        <a routerLink="/cadastro">Crie uma agora</a>
      </div>
    </div>
  </div>
</div>