<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" [class.collapsed]="!isExpanded" mode="side" opened>
    <div class="sidenav-header">
      <mat-icon class="logo-icon">sign_language</mat-icon>
      <h3 *ngIf="isExpanded" class="logo-text">Libras Fácil</h3>
    </div>

    <mat-nav-list>
      <a mat-list-item routerLink="/app/trilha" routerLinkActive="active-link" matTooltip="Trilha de Aprendizado" [matTooltipDisabled]="isExpanded">
        <mat-icon matListItemIcon>school</mat-icon>
        <span *ngIf="isExpanded" matListItemTitle>Trilha</span>
      </a>
      <a mat-list-item routerLink="/app/dicionario" routerLinkActive="active-link" matTooltip="Dicionário" [matTooltipDisabled]="isExpanded">
        <mat-icon matListItemIcon>menu_book</mat-icon>
        <span *ngIf="isExpanded" matListItemTitle>Dicionário</span>
      </a>
      <a mat-list-item routerLink="/app/perfil" routerLinkActive="active-link" matTooltip="Meu Perfil" [matTooltipDisabled]="isExpanded">
        <mat-icon matListItemIcon>person</mat-icon>
        <span *ngIf="isExpanded" matListItemTitle>Meu Perfil</span>
      </a>

      <mat-divider></mat-divider>
      <div class="menu-section-header" *ngIf="isExpanded">Treinamento IA</div>
      
      <a mat-list-item routerLink="/app/data-collector" routerLinkActive="active-link" matTooltip="Coletar Amostras" [matTooltipDisabled]="isExpanded">
        <mat-icon matListItemIcon>camera_alt</mat-icon>
        <span *ngIf="isExpanded" matListItemTitle>Coletar Amostras</span>
      </a>
    </mat-nav-list>

    <div class="sidenav-footer">
      <a mat-list-item matTooltip="Sair" [matTooltipDisabled]="isExpanded" (click)="onLogout()">
        <mat-icon matListItemIcon>logout</mat-icon>
        <span *ngIf="isExpanded" matListItemTitle>Sair</span>
      </a>
      </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>